* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial,sans-serif;
}

body {
   background-color:#f4f4f4;
}
/*Navbar */
nav {
    background: #222;
    color: white;
  display: flex;
  padding: 15px 30px;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  display: flex;
  justify-content: center;
  margin-left:20px;
}
nav ul li {
  list-style: none;
  margin: 0 23px;
}
nav ul li a {
    color: white;
    text-decoration: none;
}

/* Home */
.home {
    text-align: center;
    padding: 60px 20px;
    background: #00adb5;
    color: white;
}
.home img{
    width: 150px;
    border-radius: 50%;
    margin-bottom: 15px;
    border: 4px solid white;
}
.home span {
    color: #222;
}
/*About*/
.about {
    padding: 50px;
    text-align: center;
    background: white;
}
/*Skills */
.skills span {
    display: inline-block;
    background: #222;
    color: white;
    padding: 10px 15px;
    margin: 6px;
    border-radius: 20px;
}
/*Project */
.project{
    padding: 60px 20px;
    background: #f4f4f4;
    text-align: center;
}
.project-box{
    background: white;
    width: 280px;
    display: inline-block;
    margin: 15px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.project-box img{
    width: 100%;
    height: 160px;
    object-fit: cover;
}
.project-box h3 {
    margin:10px 0;
}
.project-box p {
    padding: 0 10px 15px;
    font-size: 14px;
}
/* Contact */
.contact {
    padding: 60px 20px;
    background: #222;
    color: white;
    text-align: center;
}
.contact h2{
    margin-bottom: 20px;
}
.contact-form{
    max-width: 400px;
    margin: auto;
}
.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}
.contact-form textarea {
    height: 120px;
    resize: none;
}
.contact-form button{
    width: 100%;
    padding: 10px;
    background: #00adb5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.contact-form button:hover {
    background: #01939a;
}
/* Footer */
footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 15px;
}